<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Hung Vu. It use data from mapbox.com and darksky.net</p>
        <img src="/img/me.jpg" class="portrait">
    </div>
    
    {{>footer}}
</body>

</html>